[submodule "dependencies/pgtap"]
	path = dependencies/pgtap
	url = https://github.com/theory/pgtap.git
[submodule "dependencies/tap-harness-junit"]
	path = dependencies/tap-harness-junit
	url = https://github.com/jlavallee/tap-harness-junit.git
[submodule "dependencies/Test-Deep"]
	path = dependencies/Test-Deep
	url = https://github.com/rjbs/Test-Deep.git
